body {
  color: #000;
  //     margin: 20px 0;
}

h1,
.h1 {
  font-size: 43px;
  line-height: 48px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h5,
.h5 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
}

.p1 {
  font-size: 21px;
  line-height: 31px;
  font-weight: 500;
}

.p2 {
  font-size: 16px;
  line-height: 24px;
}

.p3 {
  font-size: 12px;
  line-height: 27px;
}

.eyebrow2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.eyebrow3 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

// .button {
//   display: inline-block;
//   font-size: 14px;
//   font-weight: 700;
//   padding: 15px 24px;
//   border-radius: 8px;
//   border-width: 2px;
//   border-style: solid;
// }

b,
strong {
}

p {
}

a {
  color: #4098d3;
  text-decoration: none;
}
