{% import '/conveyance/macros/macros.html' as macros %}

<section class="multi-column" style="background-color:{{ module.background_color.color }};{{macros.padding(module.padding.padding_top, module.padding.padding_bottom)}}{{macros.margin(module.margin.margin_top, module.margin.margin_bottom)}}{{macros.textColor(module.module_text_color.color)}}">
  <div class="container">
    {% if module.text_content_position == 'top' %}
    {% if module.heading_tag %}
    <{{ module.heading_tag }} class="heading multi-column__heading {{ module.heading_size }}">{{ module.heading }}</{{ module.heading_tag }}>
    {% endif %}
    {% if module.subheading and module.subheading_tag %}
    <{{ module.subheading_tag }} class="subheading multi-column__subheading {{ module.subheading_size }}">{{ module.subheading }}</{{ module.subheading_tag }}>
    {% endif %}
    <div class="description multi-column__description">{{ module.description }}</div>
    {% if (module.button_1.text_field or module.button_2.text_field)%}
    <div class="multi-column__buttons buttons-holder">
      {% if module.button_1.text_field and module.button_1.url_field.href %}
      <a class="button multi-column__button btn-{{ module.button_1.button_type }} btn-{{ module.button_1.button_color ? module.button_1.button_color : 'primary' }}" href="{{ module.button_1.url_field.href }}">
        {{ module.button_1.text_field }}
      </a>
      {% endif %}
      {% if module.button_2.text_field and module.button_2.url_field.href %}
      <a class="button multi-column__button btn-{{ module.button_2.button_type }} btn-{{ module.button_2.button_color ? module.button_2.button_color : 'primary' }}" href="{{ module.button_2.url_field.href }}">
        {{ module.button_2.text_field }}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
    <div class="multi-column__cards cols-{{module.card_type}}{{ module.desktop_2_columns_in_first_row ? ' desktop-2-cols' : '' }}">
      {% for item in module.cards %}
      {% set itemTag = 'div' %}
      {% if item.make_entire_item_clickable %}
        {% set itemTag = 'a' %}
      {% endif %}
      <{{itemTag}}
        href="{{item.item_url.href}}"
        class="multi-column__card {{ module.use_swoosh_on_columns ? ' has-swoosh' : '' }} align-{{ module.card_content_alignment }} type-{{ module.card_type }}{{ module.desktop_2_columns_in_first_row ? ' cards-2-cols' : '' }}" 
        style="background-color: {{ module.card_background.color }}"
      >
        <div class="multi-column__card__image-holder{{item.use_curved_background_behind_image ? ' has-curved-bg' : ''}}">
        {% if module.card_type == 'image' %}
          {% if item.card_image.src %}
          <img src="{{item.card_image.src}}" alt="{{item.card_image.alt}}" class="multi-column__card__image" />
          {% endif %}
        {% endif %}
        {% if module.card_type == 'icon' %}
          {% if item.card_image.src %}
          <img src="{{item.card_image.src}}" alt="{{item.card_image.alt}}" class="multi-column__card__icon" />
          {% endif %}
        {% endif %}
        </div>
        <div class="card-content" style="color: {{ module.card_text_color.color }}">
          {% if item.headline_tag && item.title %}
          <{{ item.headline_tag }} class="multi-column__card__title {{ item.headline_size }}">{{ item.title }}</{{ item.headline_tag }}>
          {% endif %}
          {% if item.description %}
          <div class="multi-column__card__description">{{ item.description }}</div>
          {% endif %}
          {% if item.card_button.text_field and item.card_button.url_field.href and !item.make_entire_item_clickable %}
          <a class="button multi-column__card__button btn-{{ item.card_button.button_type }}" href="{{ item.card_button.url_field.href }}">
            {{ item.card_button.text_field }}
          </a>
          {% endif %}
        </div>
      </{{itemTag}}>
      {% endfor %}
    </div>
    {# SLIDER #}
    <div class="swiper-container multi-column__slider">
      <div class="swiper-wrapper">
      {% for item in module.cards %}
        {% set itemTag = 'div' %}
        {% if item.make_entire_item_clickable %}
        {% set itemTag = 'a' %}
        {% endif %}
      <{{itemTag}}
        href="{{item.item_url.href}}" 
        class="multi-column__card swiper-slide align-{{ module.card_content_alignment }} type-{{ module.card_type }}" 
        style="background-color: {{ module.card_background.color }}"
      >
        <div class="multi-column__card__image-holder{{item.use_curved_background_behind_image ? ' has-curved-bg' : ''}}">
        {% if module.card_type == 'image' %}
          {% if item.card_image.src %}
          <img src="{{item.card_image.src}}" alt="{{item.card_image.alt}}" class="multi-column__card__image" />
          {% endif %}
        {% endif %}
        {% if module.card_type == 'icon' %}
          {% if item.card_image.src %}
          <img src="{{item.card_image.src}}" alt="{{item.card_image.alt}}" class="multi-column__card__icon" />
          {% endif %}
        {% endif %}
        </div>
        <div class="card-content" style="color: {{ module.card_text_color.color }}">
          {% if item.headline_tag %}
          <{{ item.headline_tag }} class="multi-column__card__title {{ item.headline_size }}">{{ item.title }}</{{ item.headline_tag }}>
          {% endif %}
          {% if item.description %}
          <div class="multi-column__card__description">{{ item.description }}</div>
          {% endif %}
          {% if item.card_button.text_field and item.card_button.url_field.href and !item.make_entire_item_clickable %}
          <a class="button multi-column__card__button btn-{{ item.card_button.button_type }} btn-{{ item.card_button.button_color ? item.card_button.button_color : 'primary' }}" href="{{ item.card_button.url_field.href }}">
            {{ item.card_button.text_field }}
          </a>
          {% endif %}
        </div>
      </{{itemTag}}>
      {% endfor %}
      </div>
    </div>
    {% if module.text_content_position == 'bottom' %}
    <div class="bottom-divider"></div>
    {% if module.heading_tag %}
    <{{ module.heading_tag }} class="heading multi-column__heading {{ module.heading_size }}">{{ module.heading }}</{{ module.heading_tag }}>
    {% endif %}
    {% if module.subheading and module.subheading_tag %}
    <{{ module.subheading_tag }} class="subheading multi-column__subheading {{ module.subheading_size }}">{{ module.subheading }}</{{ module.subheading_tag }}>
    {% endif %}
    <div class="description multi-column__description">{{ module.description }}</div>
    {% if (module.button_1.text_field or module.button_2.text_field)%}
    <div class="multi-column__buttons buttons-holder">
      {% if module.button_1.text_field and module.button_1.url_field.href %}
      <a class="button multi-column__button btn-{{ module.button_1.button_type }} btn-{{ module.button_1.button_color ? module.button_1.button_color : 'primary' }}" href="{{ module.button_1.url_field.href }}">
        {{ module.button_1.text_field }}
      </a>
      {% endif %}
      {% if module.button_2.text_field and module.button_2.url_field.href %}
      <a class="button multi-column__button btn-{{ module.button_2.button_type }} btn-{{ module.button_2.button_color ? module.button_2.button_color : 'primary' }}" href="{{ module.button_2.url_field.href }}">
        {{ module.button_2.text_field }}
      </a>
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
    {% if module.use_border_bottom %}
      <!-- HTML to show when checked -->
      <div class="bottom-border" style="border-color: {{module.module_text_color.color}}"></div>
    {% endif %}
  </div>
</section>