<a href="{{ module.url_field.href }}" class="content-pill position-{{ module.pill_position }}">
  <div class="content-pill__image-holder">
    {% if module.image_field.src %}
      <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" />
    {% endif %}
  </div>
  <div class="content-pill__content">
    <div class="d-flex align-items-center">
      <div class="content-pill__type">{{ module.content_type }}</div>
      {% if module.use_date %}
      <div class="content-pill__date">{{ module.date|datetimeformat('%d') }}<span></span>{{ module.date|datetimeformat('%m') }}<span></span>{{ module.date|datetimeformat('%y') }}</div>
      {% endif %}
    </div>
    <div class="content-pill__title">{{ module.title }}</div>
  </div>
</a>