{% import '/conveyance/macros/macros.html' as macros %}

<section class="social-proof" style="background-color: {{ module.background_color.color }};{{macros.padding(module.padding.padding_top, module.padding.padding_bottom)}}{{macros.margin(module.margin.margin_top, module.margin.margin_bottom)}}{{macros.textColor(module.module_text_color.color)}}">
  <div class="container">
    {% if module.heading and module.heading_tag %}
    <{{ module.heading_tag }} class="heading social-proof__heading {{ module.heading_size }}">{{module.heading}}</{{ module.heading_tag }}>
    {% endif %}
    {% if module.subheading and module.subheading_tag %}
    <{{ module.subheading_tag }} class="subheading social-proof__subheading {{ module.subheading_size }}">{{module.subheading}}</{{ module.subheading_tag }}>
    {% endif %}
    {% if module.description %}
    <div class="description social-proof__description">{{module.description}}</div>
    {% endif %}
    {% if module.module_type == 'quote' %}
    <div class="social-proof__quote">{{ module.testimonial_quote }}</div>
    {% elif module.module_type == 'circle' %}
    <div class="swiper-container social-proof__slider" data-type="{{module.module_type}}">
      <div class="swiper-wrapper">
        {% for item in module.icons %}
        <a class="swiper-slide social-proof__slide type-{{module.module_type}}" href="{{ item.icon_url.href }}">
          {% if item.icon.src %}
            <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" />
          {% endif %}
        </a>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <div class="social-proof__items">
      {% for item in module.icons %}
        <a class="social-proof__item type-{{module.module_type}}" href="{{ item.icon_url.href }}">
          {% if item.icon.src %}
            <img src="{{ item.icon.src }}" alt="{{ item.icon.alt }}" />
          {% endif %}
        </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if module.display_author %}
      <div class="social-proof__author">
        {% if module.author.author_image.src %}
        <img src="{{module.author.author_image.src}}" alt="{{module.author.author_name}}" />
        {% endif %}
        <div class="social-proof__author__name">{{module.author.author_name}}</div>
      </div>
    {% endif %}
    <div class="social-proof__buttons buttons-holder">
      {% if module.button_1.text_field and module.button_1.url_field.href %}
      <a class="button social-proof__button btn-{{ module.button_1.button_type ? module.button_1.button_type : 'contain' }} btn-{{ module.button_1.button_color ? module.button_1.button_color : 'primary' }}" href="{{ module.button_1.url_field.href }}">
        {{ module.button_1.text_field }}
      </a>
      {% endif %}
      {% if module.button_2.text_field and module.button_2.url_field.href %}
      <a class="button social-proof__button btn-{{ module.button_2.button_type ? module.button_2.button_type : 'contain'}} btn-{{ module.button_2.button_color ? module.button_2.button_color : 'primary' }}" href="{{ module.button_2.url_field.href }}">
        {{ module.button_2.text_field }}
      </a>
      {% endif %}
    </div>
  </div>
</section>